#title, #showevent {
    text-align: center;
}

#navigationTable{
    position: relative;
    left:45%;
    width: 20%;
    margin-top: 20px;
    font-size: 25px;
}

#iconhome, #iconupdate{
    color: #343437;
}